/* Base */
body {
    font-size: 1rem;
    line-height: 1.4em;
    background-color: #f3efdb;
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 1em;
    color: inherit;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.4em;
    margin-bottom: 20px;
}

/* wrap */
.wrap {
    width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;
}

@media screen and (min-width: 401px) {
    .wrap {
        max-width: calc(100% - 30px);
    }
}

@media screen and (min-width: 1025px) {
    .wrap {
        max-width: calc(100% - 40px);
    }
}

@media screen and (min-width: 1321px) {
    .wrap {
        max-width: 1280px;
    }
}

/* navtabs */
.navtabs {
    margin-bottom: 1em;
}

.navtabs .navtabs-list {
    display: flex;
    position: relative;
}

.navtabs .navtabs-list .navtabs-btn {
    display: none;
}

.navtabs .navtabs-list>li {
    flex: 1;
}

.navtabs .navtabs-btn {
    display: block;
    padding: 15px 10px;
    text-align: center;
    background-color: #437748;
    color: #ffffff;
}

.navtabs .navtabs-btn.current {
    background-color: #69aa6f;
}

.navtabs .navtabs-content {
    width: 100%;
    position: absolute;
    left: 0px;
    padding: 10px;
    background-color: #69aa6f;
    color: #ffffff;
}

.navtabs .mobileItem-list {
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.navtabs .mobileItem-list>li {
    display: inline-block;
}

.navtabs .mobileItem-list .navtabs-btn {
    padding: 10px 25px;
}

@media screen and (min-width: 1025px) {
    .navtabs .mobileItem-list {
        display: none;
    }

    .navtabs .navtabs-list .navtabs-btn {
        display: block;
    }
}