// RWD Max Breakpoints
@mixin max-screen($breakpoints){
    @media screen and (max-width: $breakpoints) {
        @content;
    }
}

// RWD Min Breakpoints
@mixin min-screen($breakpoints){
    @media screen and (min-width: $breakpoints) {
        @content;
    }
}

// Clear Fix
@mixin clearfix{
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

// 處理IE10和IE11的CSS Hack
@mixin hack-ie10-ie11{
    @media all and (-ms-high-contrast:none){
        @content;
        *::-ms-backdrop, &{
            @content;
        }
    }
}