@charset "UTF-8";
@import '_mixin.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Noto Sans TC', sans-serif;

  * {
    font-family: 'Noto Sans TC', sans-serif;
  }
}

h1 {
  font: {
    size: 3rem;
    weight: bold;
    family: 'Roboto', sans-serif;
  }

  text-align: center;
  margin: 0.5em 0px;

  @include max-screen(480px) {
    font-size: 2rem;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  @include max-screen(1240px) {
    width: calc(100% - 40px);
    max-width: 100%;
  }
}

#data-select {
  display: block;
  width: calc(100% - 20px);
  height: 38px;
  margin: 0px auto 20px;
  font-size: 1rem;
  line-height: 38px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  outline: none;

  @include max-screen(480px) {
    width: 100%;
  }
}

#data-list {
  display: flex;
  flex-wrap: wrap;

  >li {
    width: 25%;
    padding: 10px;
    transition: all 0.3s;

    @include max-screen(1024px) {
      width: 33.33%;
    }

    @include max-screen(767px) {
      width: 50%;
      padding: 5px;

      &:nth-child(odd) {
        padding-left: 0px;
      }

      &:nth-child(even) {
        padding-right: 0px;
      }
    }
  }

  .item {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.25);

    .item__wrap {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    .item__name {
      width: 100%;
      font-size: 2rem;

      >span {
        display: block;
        font-size: 1rem;
        padding: 10px 0px;
      }

      @include max-screen(480px) {
        >span {
          padding: 0px;
        }

        font-size: 1.6rem;
      }
    }

    .item__aqi {
      width: 100%;
      font-size: 7rem;
      font-weight: 500;
      padding: 10px 0px;

      @include max-screen(480px) {
        font-size: 4rem;
        padding: 0px;
      }
    }
  }
}

.aqi-status-1 {
  background-color: #99e046;
}

.aqi-status-2 {
  background-color: #fcc12d;
}

.aqi-status-3 {
  background-color: #f18214;
}

.aqi-status-4 {
  background-color: #d43d2d;
}

.aqi-status-5 {
  background-color: #a52c60;
}

.aqi-status-6 {
  background-color: #61143d;
}